.element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #001f3fc4;
    }
    100% {
      background-color: rgb(11 175 154 / 45%);
    }
  }
  
  html,
  body {
    height: 100%;
  }

  /* Add this CSS in your DeliveryForm.css file or within a <style> block */
@keyframes ride-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.ride-in-container {
  animation: ride-in 1s ease-in-out; /* Adjust the animation duration and easing as needed */
  display: flex; /* You can use flexbox to control the alignment of elements within the container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-top: 50px;
}
